@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

.mainContainerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../resources/background.png");
    background-size: cover;
    overflow: hidden;
}

.loginCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 490px;
    height: 530px;
    padding: 40px;
    gap: 32px;
    border-radius: 24px;
    border: 1px solid #F3F4F6;
    background: #FFF;
    box-shadow: 0 16px 32px rgba(36, 100, 228, 0.2);
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: #2464E4;

    font-size: 27px;
    font-weight: 900;
}

.loginMainBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    margin-top: 0 !important;
    font-size: 14px;
}

.loginHeading {
    color: #1F2937;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.56px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.inputLabel {
    font-weight: 500;
    color: #374151;
}

.inputField {
    border: none;
    outline: none;
    border-radius: 4px;
    width: 100%;
    font-weight: 400;
}

.inputContainer {
    border-radius: 8px;
    border: 1px solid #D1D5DB;
    background: #FFF;
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box;
}

.inputContainer:focus-within {
    border: 1px solid #2464E4;
    box-shadow: 0 0 0 3px #afc9fd;
}

.loginBtn {
    font-size: 14px;
    text-align: center;
    color: #FFF;
    background-color: #2464E4;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 12px 0;
    cursor: pointer;
    font-weight: 500;
}

.createAccountBtn {
    font-size: 14px;
    color: #2464E4;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 12px 0;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
}

@media(max-width: 640px) {
    .loginCard {
        width: 80%;
        height: 400px;
        gap: 16px;
        padding: 30px;
    }

    .fontSmall {
        font-size: 12px;
    }

    .logoContainer {
        height: 30px;

    }

    .heading {
        font-size: 14px;
    }

    .inputContainer {
        padding: 6px 8px;

    }

    .loginBtn {
        font-size: 10px;
        padding: 8px 0;
    }

    .createAccountBtn {
        font-size: 10px;
        padding: 8px 0;
        margin-top: 5px;
    }
}

@media (max-width:344px) {
    .loginCard {
        gap: 10px;
    }

    .heading {
        font-size: 12px;
    }
}